@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200&family=Montserrat:wght@100&family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap");

:root {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* *,
*:before,
*:after {
  outline: 1px solid black;
} */

* {
  font-family: "Raleway", sans-serif;
}

nav {
  border: 1px solid red;
}
