@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200&family=Montserrat:wght@100&family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap");

:root {
  box-sizing: border-box;
  --color-blue: #0065fc;
  --color-lightblue: #deebff;
  --color-grey: #f2f2f2;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* *,
*:before,
*:after {
  outline: 1px solid black;
} */

* {
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

#wrapper {
  width: 1400px;
  margin: auto;
}

/* nav-menu */
header {
  display: flex;
  justify-content: space-between;
}

header img {
  height: 20px;
  margin-top: 1rem;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
}

.nav-menu {
  display: flex;
  list-style: none;
}

.nav-menu li {
  margin: 0 0 0 50px;
  text-align: center;
  border-top: 1px solid transparent;
}

.nav-menu li:hover {
  color: var(--color-blue);
  border-top: 1px solid var(--color-blue);
}

/*  Responsive for desktop version*/

@media all and (min-width: 992px) and (max-width: 1400px) {
  #wrapper {
    width: auto;
    margin: 0 auto;
  }
}

/*  Responsive for tab version*/
@media all and (min-width: 768px) and (max-width: 992px) {
  #wrapper {
    width: 768px;
    margin: 0 auto;
  }
}

@media all and (min-width: 320px) and (max-width: 768px) {
  #wrapper {
    width: auto;
    margin: 0 auto;
  }
}
