@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&family=Montserrat:wght@100&family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
  box-sizing: border-box;
  --color-blue: #0065fc;
  --color-lightblue: #deebff;
  --color-grey: #f2f2f2;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* *,
*:before,
*:after {
  outline: 1px solid magenta;
  background-color: rgb(248, 178, 248);
} */

* {
  font-family: 'Raleway', sans-serif;
}

body {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 16px;
}

/* body h1,
p,
.searchMenu {
  margin-bottom: 16px;
} */

footer {
  margin-top: 16px;
}
a {
  text-decoration: none;
  color: inherit;
}

h3 {
  font-size: 18px;
  margin: 0;
}

h1 {
  font-size: 22px;
  margin: 0 0 8px 0;
}

h2 {
  font-size: 22px;
  margin: 0 0 24px 0;
}

p {
  font-size: 16px;
  margin: 0;
}

.centerTown {
  margin: 0 0 20px 0;
}

.filterText {
  margin: 0;
  font-size: 18px;
}

.filter span {
  font-size: 18px;
}
/* ***nav-menu*** */

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.logoBooki {
  padding-top: 45px;
}

.logoBooki:hover {
  transform: scale(1.07);
}

.logo {
  height: 20px;
}

.subNav {
  display: flex;
}

.subNav a {
  font-weight: 500;
  width: 200px;
  text-align: center;
  padding-top: 45px;
  border-top: 3px solid transparent;
}

.subNav a:hover {
  color: var(--color-blue);
  border-top-color: var(--color-blue);
  font-weight: 600;
}

/* ***Search menu**** */

.searchMenu {
  display: flex;
  margin: 0 0 32px 0;
}

.searchMenu > *,
.searchMenu input::placeholder {
  padding: 16px;
  font-weight: bold;
  color: black;
  font-size: 16px;
}

.searchMenu i {
  background-color: var(--color-grey);
  border-radius: 16px 0 0 16px;
}

.searchMenu input {
  border: 1px solid var(--color-grey);
  flex-basis: 16rem;
}

.searchMenu button {
  background-color: var(--color-blue);
  color: white;
  border: 1px solid transparent;
  border-radius: 0 16px 16px 0;
  cursor: pointer;
  transition-duration: 0.2s;
}

.searchMenu button:hover {
  background-color: var(--color-grey);
  color: var(--color-blue);
  border-color: var(--color-blue);
  opacity: 0.8;
  transform: scale(1.03);
}

/* For hide search icon on Tab and desktop version */
.searchMenu .fa-search {
  display: none;
}

/* ***Filter Container*** */

.globalFilter {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 0 40px 0;
}

.filter {
  border: 1px solid var(--color-grey);
  margin: 0 16px;
  padding: 12px;
  border-radius: 32px;
  cursor: pointer;
  transition-duration: 0.2s;
}

.filter i {
  color: var(--color-blue);
}
.filter span {
  font-weight: bold;
  margin: 0 16px;
}

.filter:hover {
  background-color: var(--color-lightblue);
  box-shadow: 0 0 4px blue;
  transform: scale(1.03);
}

/* ***Filter Results*** */

.filterInfo {
  display: flex;
  align-items: center;
  gap: 16px;
  margin: 0 0 40px 0;
}

.filterInfo i {
  color: var(--color-blue);
  border: 1px solid var(--color-grey);
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* ***Apartments List** */

.apartmentList {
  display: flex;
  gap: 32px;
  margin-bottom: 48px;
}

.apartmentList > div {
  background-color: var(--color-grey);
  padding: 32px;
  border-radius: 16px;
}

.cityApartmentList {
  flex-basis: 66%;
}

.cityApartmentList a {
  font-weight: bold;
}

.popularApartmentList {
  flex-basis: 33%;
}

/* ***City apartment*** */

.cityApartment {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 16px;
}

.cityApartment > div {
  flex-basis: 25%;
}

/* ***Popular Apartment*** */

.popularApartment {
  display: flex;
  gap: 32px;
  flex-direction: column;
}

/* ***Apartment Card*** */

.apartmentCard {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
  flex-grow: 1;
  transition-duration: 0.2s;
}

.apartmentCard img {
  height: 140px;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
  object-position: initial;
  width: 100%;
}

.apartmentCard h3,
.apartmentCard p,
.popularCardInfo h3,
.popularCardInfo p {
  margin: 8px;
}

.starCardBlue {
  color: var(--color-blue);
  height: 16px;
  width: 16px;
}

.starCardGrey {
  color: var(--color-grey);
  height: 16px;
  width: 16px;
}

.apartmentCard:hover {
  background-color: var(--color-lightblue);
  box-shadow: 0 0 4px blue;
  transform: scale(1.03);
}

/* ***Popular Card*** */

.popularApartmentList h2 {
  display: flex;
  justify-content: space-between;
}

.popularCard {
  display: flex;
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
  flex-grow: 1;
  transition-duration: 0.2s;
}

.popularCard img {
  height: 128px;
  border-radius: 15px 0 0 15px;
  object-fit: cover;
  object-position: top;
  width: 33%;
  margin-right: 16px;
}

.popularCardInfo {
  display: flex;
  flex-direction: column;
}

.popularCardInfo .popularCardPrice {
}

.popularCard:hover {
  background-color: var(--color-lightblue);
  box-shadow: 0 0 4px blue;
  transform: scale(1.03);
}

/* ***Activity*** */

.activityList {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  min-height: 460px;
}

.activityCard {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
  flex-basis: 22%;
  position: relative;
  transition-duration: 0.2s;
}

.activityCard img {
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 87%;
  object-fit: cover;
}

.activityCard h3 {
  margin: 20px;
}

.activityCard:hover {
  background-color: var(--color-lightblue);
  box-shadow: 0 0 4px blue;
  transform: scale(1.03);
}

/* ***Footer*** */

.globalFooter {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--color-grey);
  padding-left: 46px;
  padding-top: 45px;
  margin-top: 60px;
}

.globalFooterSub {
  flex-basis: 32%;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
}

.globalFooterSub > * {
  margin: 8px;
}

.globalFooterSub a {
  font-weight: 500;
}

.globalFooterSub a:hover {
  text-decoration: underline;
}

/* ***RESPONSIVE DESIGN : Desktop version*** */

@media screen and (min-width: 993px) {
}

/* ***RESPONSIVE DESIGN : Tab version*** */

@media screen and (min-width: 769px) and (max-width: 992px) {
}

/* ***RESPONSIVE DESIGN : Mobile version*** */

@media screen and (max-width: 768px) {
  /* For search icon look*/

  .searchMenu .searchText {
    display: none;
  }
  .searchMenu .fa-search {
    background-color: inherit;
    display: inline;
  }

  .searchMenu input {
    overflow: auto;
  }
}
